.header
{
width: 100%;
height: 170px;
font-size: 2rem;
 font-family: Montserrat;
 text-align: center;
display: flex;
 color: #0bc41a;
border-bottom: 2px solid #00ff00;
 

#00ff00
}
.header div
{
	width: 85%;
	padding-top: 40px;
}

.tb
{
	font-weight: 4000;
	font-size: 3.5rem;

}
.adam
{font-size: 2.5rem;
	color: black;
	font-weight: 4000;
	float: right;
	margin-right: 5%;
}
.ad
{
	font-weight: 4000;
	float: right;
	margin-right: 5%;
}

.header a
{
	display: none;
}
.tablehead,.tableligne
{
	display: flex;
	width: 85%;
	cursor: pointer;
}
.tableligne:hover
{
	background-color: #00ff00;
}
.tablehead
{
	background-color: #00ff00;
}
.td2,.td3,.td4,.td5,.td6,.td7,.td8
{
	margin-left: 5%;
}
.header img
{
	height: 148px;
	width: 15%;
}
*
{
	margin: 0;
}
body
{
background-color:white;
    margin: 0;
    padding: 0;

}
.menu2
{
	display: none;
}
.container
{
	width: 100%;
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;

   
}

.container1
{
	width: 20%;
    padding-left:2%;
     border-right: 2px solid #00ff00;
}
.container1 p
{
	color:  #009900;
	font-weight: 4000;
	font-size: 1.5rem;
}
.container1 a
{
	    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    text-align: inherit;
    background: 0 0;
    border: 0;
    color: #333e48;
    white-space: normal;
    padding: 10px  9.5px 2px;
    border-bottom: 1px solid #ddd;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
}
.container1 a:hover
{

background-color: #008000;
	text-decoration: none;
	color: white;
	box-shadow: 5px 10px 30px #006600;
	transition: all ease 0.2s;
	padding-right: 22px;
	padding-left: 22px;
}
.table1 table
{
border: none;
width: 100%;
font-family:sans-serif;
}
.table1
{
	width: 35%;

}
.table1 form label
{
  font-size: 1rem;
}
.table1 form input
{
	width: 65%;
	height: 40px;
	
	font-size: 1rem;
}
.table1 form
{
	background-color: white;
	border:4px solid #00ff00;
	padding: 20px;
	width: 100%;
	font-family: taz,Verdana,sans-serif;
	margin-left: 2%;
	margin-bottom: 30px;
	border-radius: 20px;
	padding-bottom: 60px;
}
.table1 form div div
{
	display: flex;
	margin-bottom: 10px;
}
.table1 form input
{
	outline: none;
	border: none;
	border-bottom:3px solid #00ff00;
	float: right;

}
.submit
{
	background-color: #00ff00;
	font-family: taz,Verdana,sans-serif;
	font-size: 1.2rem;
}
.submit:hover
{
	background-color: white;
}
.container2
{
	width: 80%;
	padding-top: 40px;
	padding-left: 2%;
	padding-right: 2%;
	display: block;
}
.container222
{
	width: 80%;
	padding-top: 40px;
	padding-left: 2%;
	padding-right: 2%;
	display:flex;
}
.container21
{
	width: 100%;
	
	margin-bottom: 30px;
}
.head
{
	width: 100%;
	height: 40px;
	background-color: #00ff00;
	color: white;
	font-weight: 5000;
	font-size: 1.5rem;
	border-radius: 10px;
	padding-left: 5%;
}
.corps
{
	display: flex;
}
.container21 a
{
	width: 30%;
	margin-left:2%;
	list-style: none;
	text-decoration: none;
	margin-right: 2%;

}
.container21
{
	font-size: 1.2rem;
}
.corps strong
{
	font-weight: 5000;
	font-size: 1.6rem;
	color: #0bc41a;
}
.corps div
{
	display: block;
}
.corps div div
{
	
	border-radius:15px;
	height: 80px;
	padding-top: 10px;
	font-weight: 6000;
	font-size: 2rem;
	text-align: center;
	margin-top: 20px;
	border: 3px solid #0bc41a;
}
.div7  strong,.div8  strong
{
	color: black;
}
.div7 div strong,.div8 div strong
{
	color: #00ff00;
}
.corps img
{
	width: 70%;
	height: 80%;
}
.div1,.div2,.div3,.div4,.div5,.div6
{
	width: 98%;
	height:180px;
	font-family: taz,Verdana,sans-serif;
	color: black;
	text-align: center;
	padding-top: 20px;
	
	
}
.div1:hover,.div2:hover,.div3:hover,.div4:hover,.div5:hover,.div6:hover
{
	width: 100%;
height:190px;
}

table
{
	width: 98%;
	margin-left: 1%;
	border: 3px solid #00ff00;
}
.th1 td
{
	border: 0px solid black;
	background-color: #00ff00;
	color: #1F4429;
	font-size: 1rem;
	padding: 10px;
	font-family: taz,Verdana,sans-serif;
}
.th2 td
{
	border: 0px solid black;
	height: 30px;
	background-color: white;
	border-top: 1px solid #00ff00;
}
.th2
{
cursor: pointer;
}
.th2 td:hover
{
	background-color: white;
}


/*partie footer-------------------------*/

						footer p
						{
							margin-bottom: 0px;
							padding-bottom: 0px;
						}
						footer{
						    background:#0DBF6A;
						    background-size: cover;
						    margin-top: 0px;
						    padding: 0px 0;
						    color: white;
						    padding-top: 30px;
						    width: 100%;
						}
						footer form  input[type=text]
						{
							border: none;
							height: 42px;
							width: 100%;
							margin-left: 18px;
							padding-left: 0px;
						font-size: 1rem;
						margin-top: 0px;
						margin-right:;
						outline: none;

						}


						footer .search-area
						{
							background-color:  #00cc00;
							width: 11%;
							border-bottom-right-radius: 100px;
							border-top-right-radius: 100px;
							cursor: pointer;
							padding-top: 7px;
							padding-left: 15px;


						}
						footer form
						{
							width: 60%;
						}
						footer .search-zone
						{
							display: flex;
							width: 100%;
							border: 2px solid  #00cc00;
							border-radius: 100px;
							background-color: white;
						}
						footer:after{
						    content: "";
						    display: block;
						    clear: both;
						}

						footer ul{
						    float: left;
						    padding-left:100px;
						    list-style-type: none;
						    color: #eee;
						    width: 20%;
						    margin-right: 40px;
						    margin-top: 40px;
						    

						}

						footer li{
						    margin: 10px 0;
						     padding-left:20px;
						}

						footer a{
						    color: #eee;
						    text-decoration: none;
						}
						footer .number
						{
							 padding-left:27px;
						}
						footer  .email{
						    color: blue;
						    text-decoration: none;

						}
																
						.footer-text
						{
							font-size: 20px;
						}
						 .afterFooter
						{
							background-color:#fff;
							color: black;
							font-size: 1rem;
							height: 30px;
							display: flex;
						}
						.amg2
						{
							height: 30px;
							width: 80px;
							padding-right: 10px;
							padding-left: 10px;
						}

						.amg4,.amg5,.amg6
						{
							height: 25px;
							width: 35px;
							
						}
						.fbtn
						{
							display: flex;
							width: 100%;
						}
						.btns
						{
							display: flex;
						}
															.btn1
															{
																	height: 40px;
																	width:60px;
																	font-size: 0.9rem;
																	margin-left: 550px;
																	padding-right: 0px;
																	border: none;
																	padding-top: 2.6px;
																	background-color:  #33cc33;
																	color: white;
																	cursor: pointer;
																}

																.btn1text
																{
																    
																    font-size: 30px;
																    display: flex;
																    width: 40%; 
																}
																.imgmodepaiement
																{
																   
																height: 50px;
																float: right;
																margin-left: 315px;
																
																}

																footer input[type=text]
																{
																	border: none;
																	height: 40px;
																	width: 320px;
																	margin-left:-15px;
																	padding-left: 0px;
																font-size: 0.9rem;
																outline: none;

																}
																.afterFooter a
						 {
						 	color: black;
						 }
						.amg3
						{
							height: 30px;
							width: 80px;
							padding-right: 10px;
							padding-left: 10px;
						}










/*----------------media queries--------------*/







@media screen and (min-width:320px) and (max-width: 499px)
						    {

.header
{
width: 100%;
height: 80px;
font-size: 1rem;
 font-family: Montserrat;
 text-align: center;
display: flex;
 color: #0bc41a;
border-bottom: 2px solid #00ff00;
padding-left: 2%;
 

#00ff00
}
.header div
{
	width: 90%;
	padding-top: 30px;
}
.tb
{
	font-weight: 4000;
	font-size: 1rem;

}
.adam
{
	color: black;
	font-weight: 4000;
	float: right;
	margin-right: 0%;
	font-size: 0.8rem
}
.ad
{
	font-weight: 4000;
	float: right;
	margin-right: 0%;
	font-size: 0.8rem
}

.header img
{
	height: 100px;
	width: 15%;
	display: none;
}
*
{
	margin: 0;
}
body
{
background-color:white;
    margin: 0;
    padding: 0;

}
.container
{
	width: 100%;
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;

   
}

.container11
{
	width: 100%;
    padding-left:2%;
     border-right: 2px solid #00ff00;
     display: block;

}
.container1
{
	display: none;
}
.container11 p
{
	color:  #009900;
	font-weight: 4000;
	font-size: 1.2rem;
}
.container11 a
{
	    display: block;
    width: 100%;
    clear: both;
   
    line-height: 1.5;
    text-align: inherit;
    background: 0 0;
    border: 0;
    color: #333e48;
    white-space: normal;
    padding: 10px  9.5px 2px;
    border-bottom: 1px solid #ddd;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0.8rem;
}
.container11 a:hover
{

background-color: #008000;
	text-decoration: none;
	color: white;
	box-shadow: 5px 10px 30px #006600;
	transition: all ease 0.2s;
	padding-right: 22px;
	padding-left: 22px;
}


.container2,.container222
{
	width: 100%;
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	display: block;
}
.container21
{
	width: 100%;
	
	margin-bottom: 10px;
}
.head
{
	width: 100%;
	height: 27px;
	background-color: #00ff00;
	color: white;
	font-weight: 5000;
	font-size: 0.9rem;
	border-radius: 10px;
	padding-left: 5%;
	padding-top: 
}
.corps
{
	display: flex;
}
.container21 a
{
	width: 30%;
	margin-left:2%;
	list-style: none;
	text-decoration: none;
	margin-right: 2%;

}
.container21
{
	font-size: 0.8rem;
}
.corps strong
{
	font-weight: 5000;
	font-size: 0.7rem;
	color: #0bc41a;
}
.corps div
{
	display: block;
}
.corps div div
{
	
	border-radius:15px;
	height: 40px;
	padding-top: 10px;
	font-weight: 6000;
	font-size: 1rem;
	text-align: center;
	margin-top: 20px;
	border: 3px solid #0bc41a;
}
.div7  strong,.div8  strong
{
	color: black;
}
.div7 div strong,.div8 div strong
{
	color: #00ff00;
}
.corps img
{
	width: 100%;
	height: 60%;
}
.div1,.div2,.div3,.div4,.div5,.div6
{
	width: 98%;
	height:150px;
	font-family: taz,Verdana,sans-serif;
	color: black;
	text-align: center;
	padding-top: 20px;
	
	
}
.div1:hover,.div2:hover,.div3:hover,.div4:hover,.div5:hover,.div6:hover
{
	width: 100%;
height:160px;
}

table
{
	width: 98%;
	margin-left: 1%;
}
.th1 td
{
	border: 0px solid black;
		background-color: #00ff00;
	color: #1F4429;
	font-size: 1rem;
	padding: 10px;
	font-family: taz,Verdana,sans-serif;
}
.th2 td
{
	border: 0px solid black;
	height: 30px;
	background-color: white;
	border-top: 1px solid #00ff00;

}
.table1
{
	width: 95%;
	margin-bottom: 15px;
}
.table1 form label
{
  font-size: 0.8rem;
}
.table1 form input
{
	width: 65%;
	height: 25px;
	
	font-size: 0.8rem;
}
.table1 form
{
	background-color: white;
	border:4px solid #00ff00;
	padding: 10px;
	width: 100%;
	font-family: taz,Verdana,sans-serif;
	margin-left: 2%;
	margin-top: 10px;
	border-radius: 10px;
	padding-bottom: 60px;
}
.table1 form div div
{
	display: flex;
	margin-bottom: 10px;
}
.table1 form input
{
	outline: none;
	border: none;
	border-bottom:3px solid #00ff00;
	float: right;

}
.submit
{
	background-color: #00ff00;
	font-family: taz,Verdana,sans-serif;
	font-size: 1.2rem;
}

/*partie footer-------------------------*/

						footer p
						{
							margin-bottom: 0px;
							padding-bottom: 0px;
						}
						.ul2,.ul3
						{
							display: none;
						}
						footer{
						    background-image:none;
						    background:#0DBF6A;
						    background-size: cover;
						    margin-top: 200px;
						    padding: 0px 0;
						    color: white;
						    padding-top: 10px;
						    width: 100%;
						}
						footer form  input[type=text]
						{
							border: none;
							height: 32px;
							width: 100%;
							margin-left: 18px;
							padding-left: 0px;
						font-size: 0.7rem;
						margin-top: 0px;
						margin-right:;
						outline: none;

						}

                         .li1,.li2,.li3,.li4
						{
							font-size: 1rem;
						}
						footer .search-area
						{
							background-color:  #00cc00;
							width: 21%;
							border-bottom-right-radius: 100px;
							border-top-right-radius: 100px;
							cursor: pointer;
							font-size: 0.7rem;
							padding-top: 9px;
							padding-left: 2px;


						}
						footer form
						{
							width: 50%;
						}
						footer .search-zone
						{
							display: flex;
							width: 100%;
							border: 2px solid  #00cc00;
							border-radius: 100px;
							background-color: white;
						}
						footer:after{
						    content: "";
						    display: block;
						    clear: both;
						}

						footer ul{
						    float: left;
						    padding-left:10px;
						    list-style-type: none;
						    color: #eee;
						    width: 47%;
						    margin-right: 5px;
						    margin-top: 0px;
						    margin-bottom: 0px;
						    
                                font-size: 0.7rem;
						}
						.ul4
						{
							width: 47%;
						}

						footer li{
						    margin: 10px 0;
						     padding-left:0px;
						     line-height: 10px;
						}
						footer .ul4 li{
						    margin: 10px 0;
						     padding-left:0px;
						     line-height: 20px;
						}


						footer a{
						    color: #eee;
						    text-decoration: none;
						}
						footer .number
						{
							 padding-left:0px;
						}
						footer  .email{
						    color: blue;
						    text-decoration: none;

						}
																
						.footer-text
						{
							font-size: 14px;
						}
						 .afterFooter
						{
							background-color:#fff;
							color: black;
							font-size: 0.6rem;
							height: 30px;
							display: flex;
						}
						.amg2
						{
							height: 30px;
							width: 60px;
							padding-right: 10px;
							padding-left: 10px;
						}

						.amg4,.amg5,.amg6
						{
							height: 15px;
							width: 20px;
							
						}
						.fbtn
						{
							display: flex;
							width: 100%;
						}
						.btns
						{
							display: flex;
						}
															.btn1
															{
																	height: 35px;
																	width:60px;
																	font-size: 0.7rem;
																	margin-left: 550px;
																	padding-right: 0px;
																	border: none;
																	padding-top: 2.6px;
																	background-color:  #33cc33;
																	color: white;
																	cursor: pointer;
																}

																.btn1text
																{
																    
																    font-size: 0.8rem;
																    display: flex;
																    width: 50%; 
																}
																.imgmodepaiement
																{
																   width: 50%;
																height: 20px;
																float: right;
																margin-left: 3%;
																
																}

																footer input[type=text]
																{
																	border: none;
																	height: 40px;
																	width: 320px;
																	margin-left:-15px;
																	padding-left: 0px;
																font-size: 0.9rem;
																outline: none;

																}
																.afterFooter a
						 {
						 	color: black;
						 }
						.amg3
						{
							height: 30px;
							width: 80px;
							padding-right: 10px;
							padding-left: 10px;
						}




.menu-bars1
						{
							display: block;
							margin-left: 0rem;
							font-size: 2rem;
							color: #00b947;
							
							margin-top: 10px;
							padding-top: 10px;
							width: 1.5rem;
						}
						.menu-bars
						{
							display: none;

						}
						.menu2 li:hover
						{
							width: 100%;
							
							text-decoration: none;
							color: white;
							box-shadow: 5px 10px 30px #008000;
							transition: all ease 0.2s;
						}
                      .menu2
                      {
                      
					position:fixed;

	                     width:60%;
                   	height: 2000px;
	             
                  background-color: white;
                 	color: #333e48;
                	 margin-left: -10%;
                	 left:-100%;
                	 top: 0;
                      	 
                      }
                      .menu2.active
                      {
                      	 left:0%;
                      	 margin-top: 0px;
                      }
                      .menu-amg
                       {
                       	width: 100%;
                       	height: 40px;
                       	background-color: white;
                       	text-align: center;
                       }
                       .menu2 .amg
                       {
                       	margin-top: 10px;
                       	width: 20%;
                       	height: 25px;
                       }
                    .menu2 hr
                      {
                      	margin-top: 0px;
                      	color: green;
                      	height: 3px;
                      	background: green;
                      	margin-bottom: 0px;
                      }
                      .menu2  a
                      {width: 100%;
                   
							
							margin-left: 0%;
							
                      }.menu2 li:hover
						{
                         
						}
                      .menu2 li
                      {
                      padding-bottom: 5px;
                      display: block;
						padding-left: 0px;
							padding-top: 5px;
							margin-left: 10%;
							margin-top: 1px;
							font-size: 0.9rem;
							color: white;


                      }
                      .biofe
                      {
                      	margin-top:170px;
                      	font-size: 1rem;
                      	color: white;
                      	font-family: Arial Black;
                      	width: 100%;
                      	text-align: center;
                      	margin-left: 2%;
                      }

                      .menu2-div
                      { top: 0;
                        width: 48%;
                        left:-100%;
                        height: 2000px;
                        position: fixed;
                        
                      }
                      .menu2-div.active
                      {
                      	margin-top: 0px;
                      	left: 50%;

					transition: 350ms;
                      }
						.sous_menu
						{
							display: none;
						}
						.title i
						{
							font-size: 1.5rem;
							margin-top: 0px;
							padding-top: 10px;
							padding-left:10px;
							border:none;
						}
						.header a,.menu2
						{
							display: block;
						}
						
						.title:hover .sous_menu
						{
							display: block;
							margin-top: 10px;
							position:relative; 
							padding: 0px;
							
							
							width: 100%;
						}
						#produit-sous-menu li a
						{
						 padding-right: 15px;
						}
						#compte-sous-menu li a
						{
							padding-right: 34px;
						}
						#apropos
						{
							
						}
						.sous_menu li 
						{
						 width: 100%;
						}
						.material-icons
						{
							color: #008000;
						}

.no
{
	display: none;
}
						    	}